.thread-card-title {
    font-size: 14x;
    width: 100%;
    font-weight: bold;
    color: black;
    padding: 0px 6px;
    margin-top: 6px;
  }

  .thread-card-question {
    font-size: 1.0em;
    width: 100%;
    padding: 0 10px 0 12px;
    margin-top: 7px;
    color: #424242;
  }

  .wordwrap { 
   white-space: normal;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.segment-button.segment-activated {
    color: black;
    background-color: #f4f4f4;// #ffdd00;
}

.toolbar ion-searchbar .searchbar-input {
  background-color: white;
}

.segment-button { 
  color: black;
}