<ion-header>
  <ion-navbar no-border-bottom>

    <ion-segment [(ngModel)]="segment" (ionChange)="filterThreads()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button (click)="createThread()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar primary [(ngModel)]="queryText" (ionInput)="searchThreads()" placeholder="Search for a thread..">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="reloadThreads($event)" *ngIf="segment=='all'">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let thread of threads" text-wrap>
      <ion-card>

        <ion-item>
          <ion-avatar item-left>
            <forum-user-avatar [uid]="thread.user.uid"></forum-user-avatar>
          </ion-avatar>
          <h2>{{thread.user.username}}</h2>
          <p>{{thread.dateCreated | date:'medium'}}</p>
        </ion-item>

        <!--<img src="img/advance-card-bttf.png">-->
        <div class="thread-card-title wordwrap">
          {{thread.title}}
        </div>
        <div class="thread-card-question wordwrap">
          {{thread.question}}
        </div>

        <ion-row>

          <ion-col>
            <button primary clear small (click)="viewComments(thread)">
        <ion-icon name="quote"></ion-icon>
        <div>{{thread.comments}} Comments</div>
      </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              {{thread.category}}
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="fetchNextThreads($event)" threshold="10px" *ngIf="(start > 0) && (queryText.trim().length == 0) && segment=='all'">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>