<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name='menu'></ion-icon>
    </button>
        <ion-title>Profile</ion-title>
        <ion-buttons end>
            <button ion-button (click)="openImageOptions()">
            <ion-icon name="camera"></ion-icon>
      </button>
            <button ion-button (click)="reload()">
        <ion-icon name="refresh"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf="!userDataLoaded">
        <img src="assets/images/ring.gif" style="display:block; margin:auto" />
    </div>

    <ion-list no-border *ngIf="userDataLoaded">

        <ion-list-header>
            Basic Info
        </ion-list-header>
        <ion-item>
            <ion-thumbnail item-left>
                <!--<img src="{{userProfile.image}}">-->
                <forum-user-avatar [user]="user" *ngIf="userDataLoaded"></forum-user-avatar>
            </ion-thumbnail>
            <h2>{{userProfile.username}}</h2>
            <p>{{firebaseAccount.email}}</p>
        </ion-item>

        <ion-item>
            <ion-icon name='calendar' item-left></ion-icon>
            Date of Birth
            <ion-note item-right>
                {{userProfile.dateOfBirth}}
            </ion-note>
        </ion-item>

        <ion-item>
            <ion-icon name='cloud-upload' item-left></ion-icon>
            <ion-note item-right>
                {{firebaseAccount.U}}
            </ion-note>
        </ion-item>

    </ion-list>


    <ion-list *ngIf="userDataLoaded">

        <ion-list-header>
            Activity
        </ion-list-header>

        <ion-item>
            # Threads
            <ion-icon name='text' item-left></ion-icon>
            <ion-badge item-right>{{userStatistics.totalThreads}}</ion-badge>
        </ion-item>

        <ion-item>
            # Comments
            <ion-icon name='quote' item-left></ion-icon>
            <ion-badge item-right>{{userStatistics.totalComments}}</ion-badge>
        </ion-item>
        <ion-item>
            # Favorites
            <ion-icon name='heart' item-left></ion-icon>
            <ion-badge item-right>{{userProfile.totalFavorites}}</ion-badge>
        </ion-item>

    </ion-list>
</ion-content>