<ion-header>
    <ion-navbar>
        <ion-title>Profile</ion-title>
        <ion-buttons end>
            <button (click)="openImageOptions()">
            <ion-icon name="camera"></ion-icon>
      </button>
            <button (click)="reload()">
        <ion-icon name="refresh"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list no-border *ngIf="userDataLoaded">

        <ion-list-header>
            Basic Info
        </ion-list-header>
        <ion-item>
            <ion-thumbnail item-left>
                <!--<img src="{{userProfile.image}}">-->
                <forum-user-avatar [uid]="firebaseAccount.uid"></forum-user-avatar>
            </ion-thumbnail>
            <h2>{{userProfile.username}}</h2>
            <p>{{firebaseAccount.email}}</p>
        </ion-item>

        <ion-item>
            <ion-icon name='calendar' item-left></ion-icon>
            Date of Birth
            <ion-note item-right>
                {{userProfile.dateOfBirth}}
            </ion-note>
        </ion-item>

        <ion-item>
            <ion-icon name='cloud-upload' item-left></ion-icon>
            <ion-note item-right>
                {{firebaseAccount.U}}
            </ion-note>
        </ion-item>

    </ion-list>


    <ion-list *ngIf="userDataLoaded">

        <ion-list-header>
            Activity
        </ion-list-header>

        <ion-item>
            # Threads
            <ion-icon name='text' item-left></ion-icon>
            <ion-note item-right>{{userStatistics.totalThreads}}</ion-note>
        </ion-item>

        <ion-item>
            # Comments
            <ion-icon name='quote' item-left></ion-icon>
            <ion-note item-right>{{userStatistics.totalComments}}</ion-note>
        </ion-item>
        <ion-item>
            # Favorites
            <ion-icon name='heart' item-left></ion-icon>
            <ion-note item-right>{{userProfile.totalFavorites}}</ion-note>
        </ion-item>

    </ion-list>
    <ion-list>

        <ion-list-header>
            Settings
        </ion-list-header>

        <ion-item>
            <ion-icon name='ios-color-palette' item-left></ion-icon>
            <ion-label>Theme</ion-label>
            <ion-toggle></ion-toggle>
        </ion-item>

    </ion-list>
</ion-content>